.heading{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: -.02em
}

.sidewaysmenu{
    background-color: white;
    float: left;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 0.5px solid grey;
    height: 10vh;
    width: 100%;
}

.logo{
    height: 100%;
}
.slogan{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: 0;
    font-size: 3.3vh;
    letter-spacing: 0.1em;
    width: 40vw;
    max-width: 60vw;
}
.donate{
    background-color: rgb(0, 102, 255);
    height: 100%;
    right: 0;
    position: absolute;
    width: 30vw;
    max-width: 130px;
    text-align: center;
}
.donate:hover{
    background-color: rgb(36, 47, 116);   
}

.list{
    top:0;
    position: absolute;
    height: 100%;
    justify-content: center;
    line-height: 100%;
}

.ol{
    margin-left: 16%;
}
.il{
    margin-left: 32%;
}
.ul{
    margin-left: 48%;
}
.al{
    margin-left: 64%;
}
.links-text{
    background-color: rgb(22, 16, 100);
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: -.02em;
    text-decoration: none;
    text-align: center;
    width: max-content;
}
.links:hover{
    background-color: rgb(92, 78, 216);   
}
.donate-text{
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    margin-left: 20%;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: -.02em
}
.main{
    margin-right: 8%;
    margin-left: 8%;
    text-align: center;
}
.mainheading{
    font-size: 28px;
    text-align: center;
}
.maintext{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 13;
}
.image{
    width: 50vw;
    margin-bottom: 2vw;
    text-align: center;
}
.mail{
    text-align: center;
}
