.heading{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: +.1em
}

.sidewaysmenu{
    background-color: white;
    float: left;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 0.5px solid grey;
    height: 10vh;
    width: 100%;
}

.logo{
    height: 100%;
    position: absolute;
    top:0;
}
.slogan{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: 0;
    font-size: 3.3vh;
    letter-spacing: 0.1em;
    width: 40vw;
    max-width: 60vw;
}
.donate{
    background-color: rgb(0, 102, 255);
    right: 0;
    position:absolute;
    height: 98%;
    width: 10vw;
    text-align: center;
    border: solid 0.1px rgb(0, 102, 255);
}
.donate:hover{
    background-color: rgb(36, 47, 116);   
}
.donate-text{
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    
}


.list{
    
    height: 100%;
    justify-content: center;
    line-height: 100%;
    margin-left: 10vw;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.links-text{
    color: rgb(0, 0, 0);
    font-family: "Anton", sans-serif;
    text-decoration: none;
    text-align: center;
    height: 29%;
    padding: 10px;
    width: 8vw;
    
}
.links-text:hover{
    border: 1px solid rgb(42, 25, 105);
}

.main{
    text-align: center;
}
.mainheading{
    font-size: 28px;
    text-align: center;
}
.maintext{
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 14;
}
.image{
    width: 50vw;
    margin-bottom: 2vw;
    text-align: center;
}
.mail{
    text-align: center;
}
